@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #EDF6F9;
}

.bar {
    background: #FFDDD2;
    width: 20em;
    height: 2em;
    margin: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.bar .bar-inner {
    background: #FF9B71;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width 0.1s;
}

.label {
    z-index: 10;
}